@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__head {
  max-width: 540px;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.card__head--tittle {
  font-weight: 200;
  color: var(--very-dark-blue);
  font-size: 36px;
  letter-spacing: 0.25px;
}

.card__head--text {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.25px;
  color: var(--very-dark-blue);
}

.card__head--paragraph {
  font-weight: 400;
  font-size: 15px;
  color: var(--grayish-blue);
  margin-top: 18px;
  line-height: 25px;
  letter-spacing: 0.1px;
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin-top: 64px;
  align-items: center;
}

.card__content {
  max-width: 350px;
  width: 100%;
  padding: 32px 32px;
  border-radius: 8px;
  box-shadow: 0px 15px 30px var(--grayish-blue);
}

.card__supervisor.card__content {
  border-top: 4px solid var(--cyan);
}

.card__builder.card__content {
  border-top: 4px solid var(--red);
}

.card__karma.card__content {
  border-top: 4px solid var(--orange);
  margin-top: 30px;
}

.card__calculator.card__content {
  border-top: 4px solid var(--blue);
}

.card__content--tittle {
  font-size: 20px;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.card__content--text {
  margin: 6px auto 40px;
  font-size: 13px;
  font-weight: 400;
  color: var(--grayish-blue);
  line-height: 23px;
  letter-spacing: 0.09px;
}

.icon {
  max-width: 64px;
  margin-left: 222px;
}

@media (max-width: 375px) {
  .card__head {
    max-width: 311px;
    margin-top: 85px;
  }

  .card__head--tittle {
    font-size: 24px;
    letter-spacing: 0.17px;
  }

  .card__head--text {
    font-size: 24px;
    letter-spacing: 0.17px;
  }

  .card {
    margin-top: 76px;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 24px;
  }

  .card__content {
    max-width: 311px;
    padding: 27px 28px 28px 28px;
  }

  .card__karma.card__content {
    border-top: 4px solid var(--orange);
    margin-top: 24px;
  }

  .card__content--text {
    margin: 6px auto 33px;
  }

  .icon {
    max-width: 57px;
    margin-left: 198px;
  }
}
